<%- include ("partials/header") %>
<!-- Basic useful varables -->
<% let layoutNum; %>
<% if (properties.length < 12){layoutNum = properties.length} %>
<% if (properties.length >= 12){layoutNum = 12}  %>




<main>
    <!-- Start photobooth -->
    <div id="main-photobooth" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#main-photobooth" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#main-photobooth" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#main-photobooth" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="../casa2.jpeg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3 id="photobooth-title">Jardines del Campestre</h3>
                <p id="photobooth-phrase">León Gto</p>
                <hr>
                <a href="/"><button type="button" class="btn btn-light btn-sm">
                        Ver más
                    </button>
                </a>   
            </div>
            </div>
            <div class="carousel-item">
            <img src="../casa3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3 id="photobooth-title">Gran Jardin</h3>
                <p id="photobooth-phrase">León Gto</p>
                <hr>
                <a href="/"><button type="button" class="btn btn-light btn-sm">
                        Ver más
                    </button>
                </a>  
            </div>
            </div>
            <div class="carousel-item">
            <img src="../casa4.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h3 id="photobooth-title">León Moderno</h3>
                <p id="photobooth-phrase">León Gto</p>
                <hr>
                <a href="/"><button type="button" class="btn btn-light btn-sm">
                        Ver más
                    </button>
                </a>  
            </div>
            </div>
        </div>
        <a href="#main-photobooth"class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>            
        <a href="#main-photobooth"class="carousel-control-next" data-slide="next" >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>            
    </div>
    <!-- End phototbooth -->
    <!-- Start property cards -->
    <div class="bg-light">
        <div class="text-center pt-5 pb-5">
            <h2>Últimas Propiedades  </h2>
        </div>   
        <div class="px-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                
                <% for (var i = layoutNum-1; i >= 0; i--)  {   %>
                
                <div class="col">
                    <div class="card">
                        <a class="position-relative" href="/propiedades/<%= properties[i]._id %>">
                            <img class="card-img-top w-100 property-item-cover" src="<%= properties[i].image %>" alt="...">
                            
                            <div class="position-absolute top-0 left-0 pt-2 ps-3">
                                <span class="badge rounded-pill bg-success"><%= properties[i].tipo_de_disposicion%></span>
                            </div>
                            <div class="position-absolute bottom-0 left-0 right-0 pb-2 px-3">
                                <div class="row justify-content-between align-items-center">
                                    <div class="col-12">
                                        <h5 class="text-white mb-0">$<%= properties[i].precio.toLocaleString() %></h5>
                                    </div>
                                </div>
                            </div>
                            
                        </a>
                        <div class="card-body">
                            <h5 class="card-title"><%= properties[i].titulo %></h5>
                            <p class="card-text"><i class="fas fa-bath"></i> 3 bathrooms</p>
                            <a href="/propiedades/<%= properties[i]._id %>" class="btn btn-outline-primary">Ver más</a>
                        </div>
                    </div>
                </div>
                
                <%  } %>

            </div>
            
            <div class="text-center pt-5 pb-5">
                <a href="/propiedades"><button class="btn btn-outline-primary">Ver todas las propiedades</button></a>
            </div>

            
        </div>
    </div>
</main>


<%- include ("partials/footer") %>